.BarMenu {
  width: 50px;
  height: 100vh;
  background-color: $BG_GreyBlack;
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;


  .icon {
    width: 24px;
    height: 24px;
    fill: $LT_White;
  }

  .icon__element-smaller {
    width: 18px;
    height: 18px;
    fill: $LT_LightDark;
  }

  hr {
    border: .010rem solid  $BG_LightGreenSecond;
    width: 50%;
  }

  .icon__container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .icon__container-center {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .icon__element-smaller {
        padding: 10px 0;
      }
    }

    .icon__container-botton {
      width: 100%;
      height: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        background-color: $BG_White;
        padding: 5px;
        border-radius: 5px;
        margin-top: 15px;
        cursor: pointer;
      }
    }
  }
}