.Projects {
  width: 100%;
  min-height: 100vh;
  background-color: $BG_Dark;
  display: flex;

  .Projects__container-content {
    width: 90%;
    height: 1000px;
    padding-left: 100px;
    

    .Projects__container-header {
      width: 100%;
      height: 35px;
      border-bottom: 2px solid $BG_LightGreenSecond;
      display: flex;
      align-items: flex-end;
      margin-bottom: 30px;
      padding-bottom: 15px;

      .Projects__title {
        color: $LT_White;
      }
    }
  }


}

