// Arquivo scss das fontes
@import './fonts/fontsImport.scss';

// Arquivo scss das variaveis
@import './variables/layoutColors.scss';

// Reset de estilo
@import './global/resetStyle.scss';

// Arquivo de estilo global
@import './global/globalStyle.scss';

// Arquivo de estilo das screens
@import '../screens/Home/Home.scss';
@import '../screens/Home/Home_Media.scss';

@import '../screens/Projects/Projects.scss';
@import '../screens/Projects/Projects_Media.scss';

// Estilos dos componentes
@import '../components/Button/Button.scss';
@import '../components/BarMenu/BarMenu.scss';
@import '../components/CardExercise/CardExercise.scss';
@import '../components/ContainerCard/ContainerCard.scss';

// Estilos dos componentes responsivos