body {
  
  font-family: 'Roboto';
  background-color: $BG_White;
  font-size: 11pt;
  min-height: 100vh;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  flex-direction: column;

  #root {
    width: 100%;
  }

  & * {
    color: $LT_Dark;
  }

  & button,
  & input[type='button'] {
    cursor: pointer;
  }

  & input {
    background-color: transparent;
  }

  * hr {
    border-bottom: solid 1px $BD_LightGrey;
    margin: 10px 0px;
  }
}