/******************
 * Cores de fundo *
 ******************/
 $BG_White: #FFF;
 $BG_LightGrey: #e6e6e6;
 $BG_Dark: #1c1b21;
 $BG_GreyBlackLight: #2a2a31;
 $BG_GreyBlack: #292930;
 $BG_GreyBlackSecond:#26262d;
 $BG_Black80: #141414cc;
 $BG_Black00: #000;
 $BG_Black60: #14141499;
 $BG_Yellow: #fdc14d;
 $BG_Red: #f44237;
 $BG_Green: #3B6626;
 $BG_LightGreen: #47AE54;
 $BG_DarkRed: rgba(191, 38, 38, 0.9);
 $BG_LightGreenSecond: #00ff7f;
 $BG_Blue:#0880ff;

 /*******************
   * Cores de textos *
   *******************/
 $LT_Dark: #454545;
 $LT_LightDark: #747474;
 $LT_Light: #9c9c9c;
 $LT_White: #FFF;
 $LT_Green: #549305;
 $LT_Red: #f44237;
 
 /*****************
  * Cores de borda *
  *****************/
 $BD_LightGrey: #d5d5d5;
 $BD_DarkGrey: #747474;
 $BD_Red: #f44237;